html {
    background-color: #56baed;
  }
body {
    font-family: "Lato",sans-serif;
    min-height: 100vh;
    background-image: url('../Imagenes/8.jpg');
    background-size: cover;
    
  }
  
  p {
    opacity: 0.8;
  }
  h2{
    padding: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  #pk{
    padding-top: 40px;
    text-align: center;
    color: black;
  }
  #pk2{
    color: black;
    margin: 0 12px;
  }
  #pk3 {
    background-color: #56baed;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    width: 100%;
    font-size: 20px;
    padding: 8px;
    padding-right: 57px;
    padding-left: 57px;
    text-decoration: none;
    text-align: center;
  }
  #button{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  input [type="submit"] :hover{
    opacity: 1;
  }
  input [type="submit"]:active{
    transform: scale(0.95);
  }
 
  
  input[type=text],[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 30px 0;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=text],[type=password]:placeholder {
    color: #cccccc;
  }
 form{
     margin: auto;
     width: 50%;
     max-width: 450px;
     background-color: rgba(255,255,255,0.6);
     border-radius: 15px;
     padding: 30px;
     padding-bottom: 15px;  
     
 }
 .pc-tab > input,
 .pc-tab section > div {
   display: none;
 }

 #tab1:checked ~ section .tab1,
 #tab2:checked ~ section .tab2{
   display:block;
 }

 .pc-tab ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 .pc-tab ul li label{
   text-align: center;
   float: left;
   padding-right: 50px;
   padding-left: 24px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 50px;
   border-bottom: 0;
   color: #67605E;
   border-radius: 25px;
   font-size: 19px;
 }
 #lab:hover{
   background-color: #ddd;
   opacity: 0.7;
 }
 #lab:active{
   background-color: #fff;
 }
 #tab1:checked ~ nav .tab1 label,
 #tab2:checked ~ nav .tab2 label{
  color:black;
  position: relative;
  font-weight: bold;
 }
 #remember{
   width: 16px;
   height: 16px;
 }
 #check{
   display: flex;
   align-items: center;
   margin-bottom: 30px;
 }
  
