body{
    font-family: "Lato", sans-serif;
    background-image: url('../Imagenes/8.jpg');
    background-size: cover;
}

#container{
    width: 100%;
    max-width: 920px;
    height: 550px;
    border-radius: 15px;
    display: flex;
    margin: auto;
    background-color: white;
   
    margin-bottom: 30px;
}
h2{
    text-align: center;
    color: white;
    font-weight: bold;
}
#image{
    width: 100%;
    max-width: 300px;
    height: 100%;
    
    display: inline-block;
    justify-content: center;
    align-items: center;


}
#image img{
    width: 180px;
    height: 200px;
    margin-left: 20%;
    margin-top: 50%;
}

#prueba{
    display: flex;
    width: 100%;
    max-width: 700px;
    background: antiquewhite;
    border-radius: 0 15px 15px 0;
   
}
#prueba2{

    width: 100%;
    max-width: 500px;
    height: 350px;
    border: 1.2px solid black;
    margin: auto;
    display: flex;
    padding: 13px;
    border-radius: 8px;
}
h4{
    margin-bottom: 70px;
}
p{
    margin-bottom: 70px;
    border: 1px solid black;
    text-align: center;
    border-radius: 6px;
}
h3{
    text-align: center;
}
#interno2{
    width: 100%;
    max-width: 250px;
    height: 310px;
    border-radius: 8px;
}
#interno1{
    width: 100%;
    max-width: 250px;
    height: 300px;
}
#pk{
    background-color: #56baed;
    border: 0;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    margin-left: 65%;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
  }